body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  padding-top: 50px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color: red;
  text-decoration: underline;
}
p {
  letter-spacing: 1.5px;
  background: rgb(35,35,35);
  border-radius: 2px;
}
