body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
  color: red;
  text-decoration: underline;
  text-align: center;
}
p {
  letter-spacing: 1.3rem;
  background: rgb(60, 59, 65);
  border-radius: 2px;
  line-height: 1.2rem;
}
